{% extends "bootstrap/bootstrap_h5bp.html" %}


{% block page-title %} New Project {% endblock %}
{% block meta-description %}A new Project{% endblock %}
{% block meta-keywords %}{% endblock %}
{% block meta-author %}Felipe Arruda Pontes{% endblock %}
{% block meta-generator %}Django 1.6{% endblock %}
{% block meta-extras %}{% endblock %}


{% block 'css-extras' %}
{% endblock %}

{% block 'js-imports' %}
{% endblock %}


{% block jquery-docready %}
{% endblock %}

{% block jquery-winload %}{% endblock %}

{% block js-onpage %}{% endblock %}


{% block analytics %}
{% endblock %}
