{% templatetag openblock %} extends "bootstrap/bootstrap_h5bp.html" {% templatetag closeblock %}


{% templatetag openblock %} block page-title {% templatetag closeblock %}{{ project_name }}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-description {% templatetag closeblock %}A new Project{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-keywords {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-author {% templatetag closeblock %}Felipe Arruda Pontes{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-generator {% templatetag closeblock %}Django 1.6{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-extras {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block 'css-extras' {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block 'js-imports' {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block jquery-docready {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block jquery-winload {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block js-onpage {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block analytics {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
